body, html {
    font-family: 'Roboto', sans-serif;
    color: #5f6062;
    font-size: 14px;
    background-image: url('662960.jpg');
    background-size: cover;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body {
    position:relative;
}

h2 {
    font-size: 12px;
    color: #5f6062;
    margin: 8px 0px 8px 0px;
}

h3 {
    font-size: 17px;
    color: #5f6062;
    margin: 5px 0px 5px 0px;
}

/* Main header formatting starts here */

#HeaderBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #303439;
    color: #bbbbbb;
    height: 65px;
    border: none;
}

.Group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#DropdownSidebar i{
    font-size: 24px;
    color: #ededf0;
}

#Title {
    padding-left: 6vh;
    padding-right: 3vh;
    color: #ededf0;
}

#Account a {
    color: #bbbbbb;
    text-decoration: none;
}

#Account a:hover {
    color: #ededf0;
    text-decoration: none;
}

#Cart a {
    color: #bbbbbb;
    text-decoration: none;
    padding-left: 4vh;
    padding-right: 1vh;
}

#Cart a:hover {
    color: #ededf0;
    text-decoration: none;
}

#SearchBar {
    padding-left: 2vh;
    padding-right: 3vh;
}

#SearchBar form{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 25px;
}

#SearchBar form button {
    border: none;
    background-color: transparent;
    
}

#SearchBar form input {
    border: none;
    background-color: transparent;
}

/* MenuBar formatting starts here */

#MenuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffffff;
    border-bottom: 1px solid #303439;
    height: 45px;
}

#MenuBar button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    padding: 1vh 2vh 1vh 2vh;
    transition-duration: 0.25s;
}

#MenuBar button:hover {
    color: #0096db;
    box-shadow: inset 0 -6px 0 #0096db;
}

#Btn_Left {
    margin-left: 25vh;
}

#Btn_Right {
    margin-right: 25vh;
}

/* Footer formatting starts here */

#Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #303439;
    color: #bbbbbb;

    height: 30px;
    bottom:0;
    left:0;
    width:100%;
    /*position: absolute;*/
}

#Footer a {
    color: #bbbbbb;
    text-decoration: none;
}

#Footer a:hover {
    color: #ededf0;
    text-decoration: none;
}

/* Content formatting starts here */

#Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: calc(100vh - 150px);*/
}

#ItemFrame {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70vw;
}

.ItemContainer {
    margin: 10px 15px 50px 15px;
    border: 0.5px solid #bbbbbb;
}

.ItemContainer h2 {
    width: 205px;
}

.ItemContainer h3 {
    margin-bottom: 20px;
}

.Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    text-align: center;
}

.ItemTitle {
    color: #333333;
    text-decoration: none;
    transition-duration: 0.25s;
}

.ItemTitle:hover {
    font-size: 15px;
    color: #0096db;
}

.ItemImg {
    margin-top: 5vh;
    height: 100px; /*85*/
    width: 120px; /*85*/
}

/*450px*/