body, html {
    font-family: 'Roboto', sans-serif;
    color: #5f6062;
    font-size: 14px;
    background-image: url('resources/Images/662960.jpg');
    background-size: cover;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body {
    position:relative;
}

h2 {
    font-size: 12px;
    color: #5f6062;
    margin-bottom: 10px;
}

h3 {
    font-size: 30px;
    color: #303439;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Main header formatting starts here */

#HeaderBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #303439;
    color: #bbbbbb;
    height: 65px;
    border: none;
}

.Group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#DropdownSidebar i{
    font-size: 24px;
    color: #ededf0;
}

#Title {
    padding-left: 6vh;
    padding-right: 3vh;
    color: #ededf0;
}

#Account a {
    color: #bbbbbb;
    text-decoration: none;
}

#Account a:hover {
    color: #ededf0;
    text-decoration: none;
}

#Cart a {
    color: #bbbbbb;
    text-decoration: none;
    padding-left: 4vh;
    padding-right: 1vh;
}

#Cart a:hover {
    color: #ededf0;
    text-decoration: none;
}

#SearchBar {
    padding-left: 2vh;
    padding-right: 3vh;
}

#SearchBar form{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 25px;
}

#SearchBar form button {
    border: none;
    background-color: transparent;
    
}

#SearchBar form input {
    border: none;
    background-color: transparent;
}

/* MenuBar formatting starts here */

#MenuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffffff;
    border-bottom: 1px solid #303439;
    height: 45px;
}

#MenuBar button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    padding: 1vh 2vh 1vh 2vh;
    transition-duration: 0.25s;
}

#MenuBar button:hover {
    color: #0096db;
    box-shadow: inset 0 -6px 0 #0096db;
}

#Btn_Left {
    margin-left: 25vh;
}

#Btn_Right {
    margin-right: 25vh;
}

/* Footer formatting starts here */

#page-container{
    position: relative;
    min-height: 100vh;
}

#Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #303439;
    color: #bbbbbb;

    height: 30px;
    bottom:0;
    left:0;
    width:100%;
    position: absolute;
}

#Footer a {
    color: #bbbbbb;
    text-decoration: none;
    margin-top: 6px;
}

#Footer a:hover {
    color: #ededf0;
    text-decoration: none;
}

/* Content formatting starts here */

#Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: calc(100vh - 150px);*/
}

#rectangle {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /*height: 70vh;*/
    width: 60vw;
    background-color: #ffffff;
    /*heightborder: solid 1px;
    border-color: black;*/
}

.ItemImg {
    display: flex;
    height: 50vh;
    width: 50vh;
    background-color: #999999;
    margin: 30px 30px 30px 30px;
    /*border: solid 1px;*/
}

#AddToCart {
    background-color: transparent;
    font-size: 12px;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    height: 35px;
    color: #ffffff;
    background-color: #0096db;
}

#ItemDescription{
    /*padding-left: 200px;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 1vw;
    margin-right: 2vw;
}

#CartControl {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#Description{
    /*height: 30vh;
    width: 40vh;*/
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    color: #5f6062;
    font-size: 14px;
    resize: none;
}

#ItemDescription h1 {
    margin-bottom: 5px;
    margin-top: 10px;
}

#_itemNumberJS{
    width: 50px;
    height: 25px;
    text-align: center;
    margin-right: 10px;
}

#name{
    color: #333333;
    margin-top: 16px;
}

hr {
    color: #bbbbbb;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 0px;
    margin-left: 0px;
}

ul {
    margin-bottom: 60px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}